<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <!-- <p><%=blog.snippet %></p> -->
        <p><%=blog.body%></p>
      </div>
      <a href="" class="delete" data-doc="<%= blog._id %>"
        ><img src="/trash.svg" alt=""
      /></a>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const trash = document.querySelector("a.delete");

    trash.addEventListener("click", (e) => {
      const endpoint = `/blogs/${trash.dataset.doc}`;

      //for delete
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect)) //(window.location.href = data.redirect)
        .catch((err) => console.log(err));
    });
  </script>
</html>
