<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2 class="header">All Blogs</h2>
      <% if(blogs.length>0){ %> <% blogs.forEach(blog => { %>
      <a href="/blogs/<%=blog._id%>" class="single">
        <h2 class="title"><%= blog.title%></h2>
        <p class="snippet"><%= blog.snippet%></p></a
      >

      <% }); %> <% } else { %>
      <p class="snippets">There are No blogs to display</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
